body {
  overflow-x: hidden;
  background-color: #101010;
  color: #ffffff;
  font-family: "Montserrat", "Helvetica", sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 140px;
  position: relative;
}
@media (max-width: 1340px) {
  .container {
    padding: 0 100px;
  }
}
@media (max-width: 1160px) {
  .container {
    padding: 0 60px;
  }
}
@media (max-width: 659px) {
  .container {
    padding: 0 20px;
  }
}

.top_shade {
  background: linear-gradient(180deg, #484848 0%, rgba(196, 196, 196, 0) 84.86%);
  z-index: 1;
  user-select: none;
  pointer-events: none;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 264px;
}

.button.red {
  display: inline-block;
  text-decoration: none;
  margin-top: 50px;
  outline: none;
  cursor: pointer;
  box-shadow: none;
  border: none;
  border-radius: 10px;
  padding: 18px 58px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-family: "Roboto", "Helvetica", sans-serif;
}
.button.red.large {
  padding: 18px 58px;
  font-size: 24px;
}
.button.red.red {
  background-color: #E9503B;
  color: #ffffff;
}
@media (max-width: 991px) {
  .button.red {
    margin-top: 40px;
    border-radius: 4px;
    padding: 16px 28px;
    font-size: 16px;
    line-height: 18px;
  }
}

.link {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}
.link:hover {
  text-decoration: none;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: space-between;
  background-color: #262626;
  border-radius: 4px;
  align-items: center;
  color: white;
  padding: 18px 34px;
  margin: 32px -34px 0;
  font-size: 18px;
}
@media (max-width: 1340px) {
  .header__container {
    display: block;
  }
}
@media (max-width: 991px) {
  .header__container {
    display: flex;
  }
}
@media (max-width: 659px) {
  .header__container {
    flex-direction: column;
    align-items: flex-start;
    margin: 32px -20px 0;
    border-radius: 0;
  }
}
.header__info {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1340px) {
  .header__info {
    margin-top: 30px;
  }
}
@media (max-width: 991px) {
  .header__info {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (max-width: 659px) {
  .header__info {
    align-items: flex-start;
    margin-top: 30px;
  }
}
.header__info div {
  margin-right: 100px;
}
@media (max-width: 1340px) {
  .header__info div {
    margin-right: 0;
  }
}
.header__info div:last-child {
  margin-right: 0;
}
@media (max-width: 1340px) {
  .header__city {
    order: 1;
  }
}
@media (max-width: 991px) {
  .header__city {
    order: 2;
  }
}
@media (max-width: 1340px) {
  .header__time {
    order: 3;
  }
}
@media (max-width: 991px) {
  .header__time {
    display: none;
  }
}
@media (max-width: 1340px) {
  .header__logo {
    text-align: center;
  }
}
@media (max-width: 1340px) {
  .header__tel {
    order: 2;
  }
}
@media (max-width: 991px) {
  .header__tel {
    order: 1;
  }
}
.header__tel a {
  color: #ffffff;
  text-decoration: none;
}

.hero {
  overflow: hidden;
}
.hero__container {
  display: flex;
  justify-content: space-between;
}
.hero__inner {
  position: relative;
}
@media (max-width: 991px) {
  .hero__inner {
    margin-top: 260px;
  }
}
.hero__left {
  width: calc(42% - 50px);
  display: flex;
  align-items: center;
  margin-right: 50px;
}
@media (max-width: 991px) {
  .hero__left {
    display: block;
    width: auto;
  }
}
.hero__left h1 {
  font-weight: 600;
  font-size: 76px;
  line-height: 120%;
}
@media (max-width: 1340px) {
  .hero__left h1 {
    font-size: 64px;
  }
}
@media (max-width: 991px) {
  .hero__left h1 {
    font-size: 40px;
  }
}
.hero__left p {
  margin-top: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
}
@media (max-width: 1340px) {
  .hero__left p {
    font-size: 20px;
    line-height: 22px;
  }
}
.hero__left button {
  margin-top: 58px;
  letter-spacing: 2px;
}
@media (max-width: 1340px) {
  .hero__left button {
    margin-top: 30px;
  }
}
.hero__right {
  width: 58%;
  margin-right: -140px;
  height: 1000px;
  background-image: url("../img/truck.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1340px) {
  .hero__right {
    margin-right: -100px;
    height: 860px;
  }
}
@media (max-width: 991px) {
  .hero__right {
    height: 720px;
    width: calc(56% + 100px);
  }
}
.minerals__container {
  margin-top: 100px;
}

.title {
  font-weight: 600;
  font-size: 68px;
  line-height: 120%;
  margin-bottom: 24px;
}
@media (max-width: 1340px) {
  .title {
    font-size: 54px;
  }
}
@media (max-width: 991px) {
  .title {
    font-size: 30px;
  }
}

.mineral__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  min-height: 400px;
  margin-right: -140px;
}
.mineral__container--left {
  margin-right: 0;
  margin-left: -140px;
}
.mineral__container--left .mineral__info {
  text-align: right;
  order: 2;
  width: 50%;
  margin-right: 0;
}
.mineral__container--left .mineral__pic {
  margin-right: 30px;
  width: calc(50% - 30px);
  order: 1;
}
.mineral__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
  width: calc(50% - 30px);
}
.mineral__text p {
  margin-bottom: 16px;
}
.mineral__pic {
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}