body {
  overflow-x: hidden;
  background-color: #101010;
  color: #ffffff;
  font-family: "Montserrat", "Helvetica", sans-serif;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 140px;
  position: relative;
}
@media (max-width: 1340px) {
  .container {
    padding: 0 100px;
  }
}
@media (max-width: 1160px) {
  .container {
    padding: 0 60px;
  }
}
@media (max-width: 659px) {
  .container {
    padding: 0 20px;
  }
}

.top_shade {
  background: linear-gradient(180deg, #484848 0%, rgba(196, 196, 196, 0) 84.86%);
  z-index: 1;
  user-select: none;
  pointer-events: none;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 264px;
}

.button.red {
  display: inline-block;
  text-decoration: none;
  margin-top: 50px;
  outline: none;
  cursor: pointer;
  box-shadow: none;
  border: none;
  border-radius: 10px;
  padding: 18px 58px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-family: "Roboto", "Helvetica", sans-serif;
}
.button.red.large {
  padding: 18px 58px;
  font-size: 24px;
}
.button.red.red {
  background-color: #e9503b;
  color: #ffffff;
}
@media (max-width: 991px) {
  .button.red {
    margin-top: 40px;
    border-radius: 4px;
    padding: 16px 28px;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1px;
    line-height: initial;
    padding: 18px 48px;
  }
}

.link {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}
.link:hover {
  text-decoration: none;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: space-between;
  background-color: #262626;
  border-radius: 4px;
  align-items: center;
  color: white;
  padding: 18px 34px;
  margin: 32px -34px 0;
  font-size: 18px;
}
@media (max-width: 1340px) {
  .header__container {
    display: block;
  }
}
@media (max-width: 991px) {
  .header__container {
    display: flex;
  }
}
@media (max-width: 659px) {
  .header__container {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 -20px 0;
    border-radius: 0;
  }
}
.header__info {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1340px) {
  .header__info {
    margin-top: 30px;
  }
}
@media (max-width: 991px) {
  .header__info {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (max-width: 659px) {
  .header__info {
    align-items: flex-start;
    margin-top: 30px;
  }
}
.header__info div {
  margin-right: 100px;
}
@media (max-width: 1340px) {
  .header__info div {
    margin-right: 0;
  }
}
.header__info div:last-child {
  margin-right: 0;
}
@media (max-width: 1340px) {
  .header__city {
    order: 1;
  }
}
@media (max-width: 991px) {
  .header__city {
    order: 2;
  }
}
@media (max-width: 1340px) {
  .header__time {
    order: 3;
  }
}
@media (max-width: 991px) {
  .header__time {
    display: none;
  }
}
@media (max-width: 1340px) {
  .header__logo {
    text-align: center;
  }
}
@media (max-width: 1340px) {
  .header__tel {
    order: 2;
  }
}
@media (max-width: 991px) {
  .header__tel {
    order: 1;
  }
}
.header__tel a {
  color: #ffffff;
  text-decoration: none;
}

.hero {
  overflow: hidden;
}
.hero__container {
  display: flex;
  justify-content: space-between;
}
.hero__inner {
  position: relative;
}
@media (max-width: 991px) {
  .hero__inner {
    margin-top: 260px;
  }
}
.hero__left {
  width: calc(42% - 50px);
  display: flex;
  align-items: center;
  margin-right: 50px;
}
@media (max-width: 991px) {
  .hero__left {
    display: block;
    width: auto;
    margin-right: 40px;
  }
}
.hero__left h1 {
  font-weight: 600;
  font-size: 76px;
  line-height: 120%;
}
@media (max-width: 1340px) {
  .hero__left h1 {
    font-size: 64px;
  }
}
@media (max-width: 991px) {
  .hero__left h1 {
    font-size: 40px;
  }
}
.hero__left p {
  margin-top: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
}
@media (max-width: 1340px) {
  .hero__left p {
    font-size: 20px;
    line-height: 22px;
  }
}
.hero__left button {
  margin-top: 58px;
  letter-spacing: 2px;
}
@media (max-width: 1340px) {
  .hero__left button {
    margin-top: 30px;
  }
}
.hero__right {
  width: 58%;
  margin-right: -140px;
  height: 1000px;
  background-image: url("../img/truck.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1340px) {
  .hero__right {
    margin-right: -100px;
    height: 860px;
  }
}
@media (max-width: 991px) {
  .hero__right {
    height: 720px;
    width: calc(56% + 100px);
  }
}
.minerals__container {
  margin-top: 100px;
}
.minerals__btn {
  width: 100%;
  text-align: center;
}
@media (max-width: 659px) {
  .minerals__btn .button.red.large {
    padding: 18px 28px;
    font-size: 19px;
  }
}

.title {
  font-weight: 600;
  font-size: 68px;
  line-height: 120%;
  margin-bottom: 24px;
}
@media (max-width: 1340px) {
  .title {
    font-size: 54px;
  }
}
@media (max-width: 991px) {
  .title {
    font-size: 30px;
  }
}

.mineral__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  min-height: 400px;
  margin-right: -140px;
}
@media (max-width: 659px) {
  .mineral__container {
    margin-bottom: 20px;
  }
}
.mineral__container--left {
  margin-right: 0;
  margin-left: -140px;
}
.mineral__container--left .mineral__info {
  text-align: right;
  order: 2;
  width: 50%;
  margin-right: 0;
}
.mineral__container--left .mineral__pic {
  margin-right: 30px;
  width: calc(50% - 30px);
  order: 1;
}
.mineral__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
  width: calc(50% - 30px);
}
.mineral__text p {
  margin-bottom: 16px;
}
.mineral__pic {
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.props {
  margin-top: 130px;
}
@media (max-width: 659px) {
  .props {
    margin-top: 90px;
  }
}
.props__table {
  display: flex;
}
@media (max-width: 940px) {
  .props__table {
    display: block;
  }
}
.props__left {
  width: calc(50% - 20px);
  margin-right: 20px;
}
@media (max-width: 940px) {
  .props__left {
    width: 100%;
    margin-right: 0;
  }
}
.props__right {
  width: 50%;
}
@media (max-width: 940px) {
  .props__right {
    width: 100%;
  }
}

.prop {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 659px) {
  .prop {
    margin-bottom: 20px;
  }
}
.prop__img {
  flex-shrink: 0;
  width: 101px;
  height: 101px;
  max-width: 100%;
  margin-right: 40px;
}
@media (max-width: 659px) {
  .prop__img {
    width: 81px;
    height: 81px;
    margin-right: 30px;
  }
}
.prop p {
  font-size: 20px;
}
@media (max-width: 659px) {
  .prop p {
    font-size: 16px;
  }
}

.call_back {
  text-align: center;
  line-height: 35px;
  margin-top: 50px;
  margin-bottom: 150px;
}

.gallery {
  margin-top: 130px;
}
@media (max-width: 659px) {
  .gallery {
    margin-top: 70px;
  }
}
.gallery .tns-controls,
.gallery button {
  display: none;
}
.gallery p {
  margin-bottom: 20px;
}

.contacts {
  margin-top: 130px;
}
@media (max-width: 659px) {
  .contacts {
    margin-top: 70px;
  }
}
.contacts__socials {
  display: flex;
}
.contacts__socials > p {
  margin-right: 12px;
}
@media (max-width: 659px) {
  .contacts__socials > p {
    display: none;
  }
}
@media (max-width: 659px) {
  .contacts__socials {
    display: block;
  }
}
.contacts a {
  color: #ffffff;
}
.contacts__container > p, .contacts__container > div {
  margin-bottom: 10px;
}

.social {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
@media (max-width: 659px) {
  .social {
    margin-bottom: 10px;
  }
}
.social__img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.depend_prce {
  margin-top: 130px;
}
@media (max-width: 659px) {
  .depend_prce {
    margin-top: 70px;
  }
}
.depend_prce p {
  margin-bottom: 12px;
}

.copyright {
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  opacity: 0.6;
  margin-top: 90px;
  margin-bottom: 90px;
}
@media (max-width: 659px) {
  .copyright {
    margin-top: 60px;
  }
}

.hidden {
  display: none;
}
.collection {
  padding-top: 190px;
}
.table {
  padding-top: 190px;
}
.table__row {
  display: flex;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid #ffffff;
}
@media (max-width: 750px) {
  .table__row--extra {
    border-top: 1px solid #ffffff;
  }
}
.table__row--header {
  font-weight: 600;
}
@media (max-width: 750px) {
  .table__row--header {
    display: none;
  }
}
.table__prices_mob {
  display: none;
}
@media (max-width: 750px) {
  .table__prices_mob {
    display: block;
    margin-top: 20px;
  }
}
.table__name {
  width: calc(50% - 30px);
  margin-right: 30px;
}
@media (max-width: 750px) {
  .table__name {
    width: 100%;
    margin-right: 0;
  }
}
.table__price {
  width: 25%;
}
@media (max-width: 750px) {
  .table__price {
    display: none;
  }
}